* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template: 1fr 4fr/ 1fr 4fr;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    gap: 25px;
    background-color: #06b6d4;
    color: white;
    padding-left: 0.8em;
}

.nav-li {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}

.upper-nav-bar,
.lower-nav-bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

header {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 1em 1.5em 1em 2em;
}

.top-header {
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
}

.left-bot-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-bot-header {
    display: flex;
    gap: 10px;
}

.greeting-username {
    font-weight: 600;
    font-size: 18px;
}

.header-btn {
    border-radius: 20px;
    width: 5.5em;
    height: 2.5em;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-right: 1em;
    padding-left: 2em;
    background-color: #f1f5f9;
}
  
.project-item {
    display: grid;
    grid-template: 1fr 2fr 1fr / 1fr;
    width: calc(48% - 10px);
    height: 200px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
    min-width: 20px;
    background-image: -webkit-linear-gradient(left, #155e75, #155e75 2%, transparent 2%, transparent 100%);
    background-color: white;
}
  
@media (max-width: 1025px) {
.projects-container {
    flex-direction: column;
    align-items: stretch;
}
    .project-item {
     width: 100%;
    }
}

.ann-trend-container {
    display: flex;
    flex-direction: column;
    gap: 5em;
    background-color: #f1f5f9;
    padding-right: 1em;
}

.container-heading {
    font-size: 1.5em; 
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}
  
.nav-bar-icon {
    width: 20px;
}

.nav-li:hover,
.interaction-icon:hover,
.main-logo:hover,
.small-profile-logo:hover,
.username:hover,
.header-btn:hover,
.big-profile-logo:hover {
    transform: translateY(-0.05em);
    cursor: pointer;
}

.nav-li:active,
.interaction-icon:active,
.main-logo:active,
.small-profile-logo:active,
.username:active,
.header-btn:active,
.big-profile-logo:active {
    transform: translateY(0);
}

ul {
    list-style-type: none;
}

.main-logo {
    width: 50px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-bottom: 1em;
    padding-top: 1em;
}

.search-icon {
    width: 20px;
    border-style: none;
    background-color: #cbd5e1;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    width: 35vw;
    border-radius: 60px;
    padding: 5px;
    background-color: #f1f5f9;
}

form {
    display: flex;
    flex-wrap: nowrap;
}

.big-profile-logo {
    width: 70px;
    border-radius: 15px;
    background-color: #155e75;
}

.small-profile-logo {
    width: 35px;
    border-radius: 15px;
    background-color: #155e75;
}

.interaction-icon {
    width: 24px;
}

.interaction-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 1em;
}

.announcements-container {
    display: flex;
    flex-direction: column;
}

.announcements-subheading {
    font-weight: 600;
    padding-bottom: 0.2em;
}

.trending-profile {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 1em 1em 1em;
}

.trending-container,
.announcements-container {
    box-shadow: 0px 2px 2px rgb(175, 175, 175);
    background-color: white;
}

.project-name {
    font-weight: 600;
    padding-top: 1em;
    padding-left: 1em;
}

.project-description {
    padding: 0 2em 1em 1em;    
}

.announcements-item {
    background-color: white;
}

.container-heading,
.announcements-item {
    padding: 1em 1em 0.5em 1em;
}

:nth-child(3 of div.announcements-item) {
    padding-bottom: 1em;
}